{% extends "layout.html" %}
{% block content %}
	
	<article>
		<h2>{{ event.name }}</h2>
		<p>Date: {{ event.date_scheduled}} </p>
		{% if not current_user.is_anonymous %}
    		{% if not currently_joined %}
    			<a href="{{ url_for('join_event', id=id) }}">Join Event</a>
    			
    		{% else %}
    			<p>Your are signed up for this event.</p>
    		{% endif %}
		{% endif %}

		<div class="media-body">
      		<div class="article-metadata">
				<h4>Event Description</h4>
			</div>
		</div>

		<div class="media-body">
      		<div class="article-metadata">
				<h5>Users Signed Up</h5>
				<p class="article-content">{{ event.description }}</p>
			</div>
		</div>
		{% for user in users_joined %}
    		<div class="media-body">
      			<div class="article-metadata">
					<p  class="mr-2">{{ user.username }}</p>	
      			</div>
      		</div>
		{% endfor %}			
	</article>

{% endblock content %}