{% extends "layout.html" %}
{% block content %}
<div class="content-section"
	<legend class="border-bottom mb-4"><h2>Log In</h2></legend>
	<form action = "" method = "post" novalidate>
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.username.label (class="form-control-label") }}<br>
			{{ form.username(class="form-control form-control-sm") }}
			<div class="invalid-feedback">
            {% for error in form.username.errors %}
            	<ul>
            		<li>
            			<span style='color: red;'>{{ error }}</span>
            		</li>
            	</ul>
            {% endfor %}
            </div>
		</div>
		<div class="form-group">
			{{ form.password.label (class="form-control-label")}}<br>
			{{ form.password(class="form-control form-control-sm") }}
			<div class="invalid-feedback">
            {% for error in form.password.errors %}
                <ul>
            		<li>
            			<span style='color: red;'>{{ error }}</span>
            		</li>
            	</ul>
            {% endfor %}
            </div>
		</div>
		<div class="form-check">
			{{ form.remember(class = "form-check-input") }}
			{{ form.remember.label (class = "form-check-label") }}
		</div>
		<div class="form-group">{{ form.submit (class="btn btn-outline-info")}}</div>
	</form>
</div>
{% endblock %}